Source: libfusekit
Section: contrib/libs
Priority: optional
Maintainer: Gerhard Lipp <gerhard_lipp@gmx.de>
Build-Depends: debhelper (>= 10), autotools-dev, libfuse-dev
Standards-Version: 4.1.2
Homepage: https://github.com/multicast/fusekit

Package: libfusekit-dev
Section: contribs/libdevel
Architecture: all
Multi-Arch: foreign
Description: a c++ wrapper for fuse
